/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.npm
.config

/coverage

/.next/
/out/

/build
/dist

.DS_Store
*.pem
Thumbs.db
.env
.env.development
.env.test
.env.production
.env*.local
nohup.out

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

.replit
.cache/
.upm/
.breakpoints
.webview
.config/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.devcontainer/

.vercel

*.tsbuildinfo
next-env.d.ts

.contentlayer

*.sqlite
*.sqlite3
*.db

*.tmp
*.swp
*.swo
*~
