@tailwind base;
@tailwind components;
@tailwind utilities;

/* Syntax highlighting */
:root {
  --sh-class: #EEABFB;
  --sh-identifier: #BE69DE;
  --sh-sign: #EEEEEE;
  --sh-string: #F8810B;
  --sh-keyword: #0080FF;
  --sh-comment: #808080;
  --sh-jsxliterals: #6266d1;
  --sh-property: #B2D9FF;
  --sh-entity: #CDFF84;
}

/* General */
html,
body {
  @apply m-0 p-0;
  scrollbar-gutter: stable;
  text-rendering: geometricPrecision;
}

body {
  @apply flex flex-col scroll-smooth break-words bg-mono-50 text-mono-950 dark:bg-mono-950 dark:text-mono-50;
}

/* Selection */
::selection {
  @apply bg-mono-950 text-mono-50 dark:bg-mono-50 dark:text-mono-950;
}

/* Scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Anchor */
.anchor {
  @apply invisible absolute ml-[-1em] w-[75%] max-w-[768px] cursor-pointer pr-2 no-underline;
}

*:hover>.anchor {
  @apply visible opacity-0;
}

.anchor::after {
  content: "#";
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight leading-snug;
}

h1 {
  @apply text-[1.2rem] font-semibold;
}

h2,
h3,
h4,
h5,
h6 {
  @apply mb-0 pt-6 text-[1.1rem] font-medium underline decoration-mono-100 decoration-2 underline-offset-2 dark:decoration-mono-900;
}

/* Paragraph */
p {
  @apply tracking-tight text-mono-800 dark:text-mono-200;
}

p strong {
  @apply text-mono-950 dark:text-mono-50;
  font-weight: 500;
}

/* Link */
a {
  @apply text-blue-700 decoration-mono-500 decoration-1 underline-offset-2 hover:underline dark:text-yellow-500;
}

/* List */
ul,
ol {
  @apply my-2 list-inside list-disc;
}

li {
  @apply text-mono-800 dark:text-mono-200;
}

/* Blockquote */
blockquote {
  @apply mb-10 mt-6 border-l-2 border-mono-200 px-4 pl-5 italic dark:border-mono-800;
}

blockquote p {
  @apply text-lg font-light leading-7 tracking-normal text-mono-700 dark:text-mono-300;
}

blockquote p strong {
  @apply font-light;
}

/* Pre and code block */
pre,
code {
  @apply mb-8 mt-6 border-b border-t border-mono-200 bg-mono-100 dark:border-mono-800 dark:bg-mono-900;
}

pre {
  @apply relative left-1/2 w-screen -translate-x-1/2 overflow-x-auto px-8 py-4 leading-tight;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre code {
  @apply border-none p-0 text-xs leading-tight;
}

code {
  @apply rounded-md border px-1 py-0.5 text-[0.85rem];
}

/* Transition element */
.transition-element {
  view-transition-name: zira;
}

::view-transition-old(zira) {
  animation: fade-out 1000ms ease-in-out;
}

::view-transition-new(zira) {
  animation: fade-in-up 500ms ease-in-out;
}

/* Keyframes */
@keyframes fade-out {
  0% {
    transform: translateY(0) translateX(0px);
    opacity: 0.8;
  }

  25% {
    transform: translateY(25px) translateX(0px);
    opacity: 0.2;
  }

  50% {
    transform: translateY(25px) translateX(0px);
    opacity: 0;
  }

  75% {
    transform: translateY(25px) translateX(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(25px) translateX(0px);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(25px) translateX(0px);
    opacity: 0;
  }

  25% {
    transform: translateY(25px) translateX(0px);
    opacity: 0.25;
  }

  75% {
    transform: translateY(0) translateX(0px);
    opacity: 0.75;
  }

  100% {
    transform: translateY(0) translateX(0px);
    opacity: 1;
  }
}

/* Unsupported browsers */
@supports (view-transition-name: none) {
  .fade-in {
    animation: fade-in 750ms ease-in-out forwards;
    opacity: 0;
  }
}