@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Scheme Variables */
.light {
  --sh-class: #9B5A8C;
  --sh-identifier: #6F228C;
  --sh-sign: #454545;
  --sh-string: #9E4D0A;
  --sh-keyword: #004499;
  --sh-comment: #3C3C3C;
  --sh-jsxliterals: #323B7A;
  --sh-property: #66A2B3;
  --sh-entity: #5E9F3B;
}

/* Dark Scheme Variables */
.dark {
  --sh-class: #EEABFB;
  --sh-identifier: #BE69DE;
  --sh-sign: #EEEEEE;
  --sh-string: #F8810B;
  --sh-keyword: #0080FF;
  --sh-comment: #808080;
  --sh-jsxliterals: #6266d1;
  --sh-property: #B2D9FF;
  --sh-entity: #CDFF84;
}

/* Base Styles */
@layer base {

  html,
  body {
    @apply m-0;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }

  body {
    @apply flex flex-col bg-mono-50 dark:bg-mono-950 text-primary ease;
    text-rendering: geometricPrecision;
    overflow-wrap: break-word;
  }

  ::selection {
    @apply bg-mono-950 dark:bg-mono-50 text-mono-50 dark:text-mono-950;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4 {
    @apply mb-2 text-primary tracking-tight leading-snug ease;
  }

  h1 {
    @apply mb-0 font-semibold text-xl;
  }

  h2 {
    @apply font-medium text-[1.25rem];
  }

  h3 {
    @apply font-medium text-[1.15rem];
  }

  h4 {
    @apply font-medium text-[1.05rem];
  }

  /* Paragraphs */
  p {
    @apply my-4 text-secondary ease;

    strong {
      @apply font-medium text-primary ease;
    }
  }

  /* Links */
  a {
    @apply bg-mono-200 dark:bg-mono-800 text-primary hover:underline decoration-mono-500 underline-offset-2 ease;
  }

  /* Lists */
  ul,
  ol,
  li {
    @apply pl-4 text-tertiary leading-relaxed ease;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  /* Blockquotes */
  blockquote {
    @apply mt-5 mb-10 border-l-2 border-dashed border-mono-200 dark:border-mono-800 px-4 pl-5 ease;

    p {
      @apply leading-relaxed font-light italic text-[1.1rem] text-tertiary;

      strong {
        @apply font-light text-primary;
      }
    }
  }

  /* Preformatted */
  pre,
  code {
    @apply mt-6 mb-8 rounded-md border border-mono-200 dark:border-mono-800 bg-mono-100 dark:bg-mono-900 font-mono ease;
  }

  pre {
    @apply py-2.5 px-3.5 leading-tight overflow-x-auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }

    code {
      @apply p-0 border-none leading-snug;
    }
  }

  code {
    @apply py-0.5 px-1 text-[0.9rem] ease;

    span {
      @apply ease;
    }
  }

  /* Horizontal Rule */
  hr {
    @apply my-8 border border-dashed border-mono-400 dark:border-mono-600 ease;
  }
}

/* Customs */
@layer utilities {
  .text-primary {
    @apply text-mono-950 dark:text-mono-50;
  }

  .text-secondary {
    @apply text-mono-800 dark:text-mono-200;
  }

  .text-tertiary {
    @apply text-mono-700 dark:text-mono-300;
  }

  .ease {
    @apply transition duration-300 ease-in-out;
  }
}

/* Keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}