@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Root --- */
:root {
  --background: #111111;
  --foreground: #EEEEEE;
  --sh-class: #EEABFB;
  --sh-identifier: #BE69DE;
  --sh-sign: #EEEEEE;
  --sh-string: #F8810B;
  --sh-keyword: #0080FF;
  --sh-comment: #808080;
  --sh-jsxliterals: #6266d1;
  --sh-property: #B2D9FF;
  --sh-entity: #CDFF84;
}

::selection {
  background-color: var(--foreground);
  color: var(--background);
}

/* --- Global Styles --- */
html,
body {
  margin: 0;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background-color: var(--background);
  text-rendering: optimizeLegibility;
}

/* --- Utility Classes --- */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* --- Prose Styles --- */
.prose {

  p {
    @apply my-8 text-neutral-300;
  }

  span {
    @apply text-neutral-300;
  }

  h1,
  h2,
  h3 {
    @apply text-neutral-100 leading-tight tracking-tight;
  }

  h1 {
    @apply font-bold text-3xl;
  }

  h2 {
    @apply font-semibold text-2xl;
  }

  h3 {
    @apply font-semibold text-xl;
  }

  hr {
    @apply my-8 border border-dashed border-neutral-700;
  }

  strong {
    @apply font-medium text-neutral-50 bg-neutral-800 bg-opacity-70;
  }

  ul,
  ol {
    @apply pl-4 text-neutral-300;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  > :first-child {
    @apply mt-5 mb-5;
  }

  pre,
  code {
    @apply bg-neutral-900 border border-neutral-800 rounded-md;
    font-family: 'JetBrains Mono', monospace;
  }

  pre {
    @apply overflow-x-auto py-2.5 px-3.5;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 0.8rem;

    &::-webkit-scrollbar {
      display: none;
    }

    code {
      @apply p-0 border-none;
      line-height: 1.5;
    }
  }

  code {
    @apply py-0.5 px-1;

    span {
      @apply font-medium;
    }
  }

  a {
    @apply text-neutral-50 underline decoration-neutral-500 underline-offset-2 decoration-[0.1em] hover:text-neutral-500 transition duration-300;
  }

  .anchor {
    @apply absolute invisible no-underline cursor-pointer ml-[-1em] pr-2 w-[75%] max-w-[768px];

    &::after {
      content: "#";
    }
  }

  *:hover>.anchor {
    @apply visible opacity-0;
  }

  img {
    @apply my-8 mx-auto rounded-lg shadow-lg grayscale;
  }

  blockquote {
    @apply my-12 pl-6 border-l-4 border-neutral-800;
    margin-left: 0;
    margin-right: 0;

    > :first-child {
      margin: 0;
    }

    p {
      @apply font-light text-sm text-neutral-400;
    }
  }
}

/* --- Effects --- */
.glow {
  filter: drop-shadow(0 0 5px white);
}

.white-glow {
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.6)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.4)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
}

/* --- Animation Styles --- */
.animate-in {
  animation-delay: calc(var(--index) * 250ms);
}

/* --- Keyframes --- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}