/* Inviting Tailwind to the party */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting the vibe for the entire website */
@layer base {
  :root {
    /* CSS variables: the real MVPs */
    --background-color: #111;
    --text-color: #eee;
    --selection-background: #eee;
    --selection-text: #111;

    --custom-bg: #000000;
    --custom-border: #333333;

    /* Syntax Highlighting — because code needs some love too */
    --sh-class: #EEABFB;
    --sh-identifier: #BE69DE;
    --sh-sign: #EEEEEE;
    --sh-string: #F8810B;
    --sh-keyword: #0080FF;
    --sh-comment: #808080;
    --sh-jsxliterals: #6266d1;
    --sh-property: #B2D9FF;
    --sh-entity: #CDFF84;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  ::selection {
    background-color: var(--selection-background);
    color: var(--selection-text);
  }
}

/* Tailwind @apply magic for modular content styling */
@layer components {
  .prose {
    @apply text-neutral-300;

    p,
    li {
      @apply my-4;
    }

    h1,
    h2,
    h3 {
      @apply font-semibold leading-tight tracking-tight text-neutral-200 mt-12 mb-0;
    }

    strong {
      @apply font-medium text-neutral-200;
    }

    ul,
    ol {
      @apply pl-4;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    > :first-child {
      @apply mt-5 mb-5;
    }

    pre,
    code {
      @apply custom-bg custom-border rounded-lg;
    }

    pre {
      @apply overflow-x-auto py-2.5 px-3.5;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      code {
        @apply p-0 border-none;
        line-height: 1.5;
      }
    }

    code {
      @apply py-1 px-1.5;

      span {
        @apply font-medium;
      }
    }

    a {
      @apply text-neutral-50 underline decoration-neutral-500 underline-offset-2 decoration-[0.1em] transition-colors duration-300;

      &:hover {
        @apply text-neutral-400;
      }
    }

    .anchor {
      @apply absolute invisible no-underline cursor-pointer ml-[-1em] pr-2 w-[75%] max-w-[768px];

      &::after {
        content: "#";
      }
    }

    *:hover>.anchor {
      @apply visible opacity-0;
    }

    img {
      @apply my-12 mx-auto rounded-lg shadow-lg grayscale;
    }

    blockquote {
      @apply pl-6 border-l-4 border-neutral-700 my-8 text-neutral-400 font-light;
      margin-left: 0;
      margin-right: 0;

      > :first-child {
        margin: 0;
      }
    }
  }
}

/* Let's add some style because why not? */
@layer utilities {
  .custom-border {
    @apply border border-neutral-800;
  }

  .custom-bg {
    @apply bg-neutral-900;
  }

  /* For those fancy animations */
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }

  .text-glow {
    animation: glow 3s ease-in-out infinite;
  }
}

/* Text wrapping and word-breaking: keeping things in line */
.title {
  text-wrap: balance;
  word-break: break-word;
}

/* Tables are more than just dining surfaces */
table {
  @apply block max-w-fit overflow-x-auto whitespace-nowrap;
}

/* Keyframes for those snazzy animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes glow {

  0%,
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
  }

  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6);
  }
}