/* Inviting Tailwind to the party */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting the vibe for the entire website */
:root {
  /* CSS variables: the real MVPs */
  --background-color: #111;
  --text-color: #eee;
  --selection-background: #eee;
  --selection-text: #111;

  --custom-bg: #000000;
  --custom-border: #333333;

  /* Syntax Highlighting — because code needs some love too */
  --sh-class: #EEABFB;
  --sh-identifier: #BE69DE;
  --sh-sign: #EEEEEE;
  --sh-string: #F8810B;
  --sh-keyword: #0080FF;
  --sh-comment: #808080;
  --sh-jsxliterals: #6266d1;
  --sh-property: #B2D9FF;
  --sh-entity: #CDFF84;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-text);
}

/* Tailwind @apply magic for modular content styling */
.prose {
  @apply text-neutral-300;

  p {
    @apply my-8;
    /* Margin on Y-axis for paragraphs */
  }

  h1,
  h2,
  h3 {
    @apply font-semibold leading-tight tracking-tight text-neutral-200 mt-12 mb-0;
  }

  strong {
    @apply font-medium text-neutral-200;
  }

  ul,
  ol {
    @apply pl-4;
    /* Padding for lists */
  }

  ul {
    @apply list-disc;
    /* Bullet points for unordered lists */
  }

  ol {
    @apply list-decimal;
    /* Numbering for ordered lists */
  }

  > :first-child {
    @apply mt-5 mb-5;
    /* Margin for first child elements */
  }

  pre,
  code {
    @apply custom-bg custom-border rounded-md;
  }

  pre {
    @apply overflow-x-auto py-2.5 px-3.5;
    -ms-overflow-style: none;
    /* Hide scrollbar for IE */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */

    &::-webkit-scrollbar {
      display: none;
      /* Hide scrollbar for Chrome/Safari */
    }

    code {
      @apply p-0 border-none;
      line-height: 1.5;
      /* Consistent line height */
    }
  }

  code {
    @apply py-0.5 px-1;
    /* Padding for inline code */

    span {
      @apply font-medium;
      /* Emphasize inline code spans */
    }
  }

  a {
    @apply text-white underline decoration-neutral-500 underline-offset-2 decoration-[0.1em] transition-colors duration-300;

    &:hover {
      @apply text-neutral-400;
      /* Hover effect for links */
    }
  }

  .anchor {
    @apply absolute invisible no-underline cursor-pointer ml-[-1em] pr-2 w-[75%] max-w-[768px];

    &::after {
      content: "#";
      /* Anchor icon */
    }
  }

  *:hover>.anchor {
    @apply visible opacity-0;
    /* Show anchor on hover */
  }

  img {
    @apply my-12 mx-auto rounded-lg shadow-lg grayscale;
    /* Styling for images */
  }

  blockquote {
    @apply pl-6 border-l-4 border-neutral-700 my-8 text-neutral-400 font-light;
    margin-left: 0;
    margin-right: 0;

    > :first-child {
      margin: 0;
      /* Remove margin for first child */
    }
  }
}

/* Let's add some style because why not? */
.glow {
  filter: drop-shadow(0 0 5px white);
  /* Glow effect */
}

.custom-border {
  @apply border border-neutral-800;
  /* Custom border styling */
}

.custom-bg {
  @apply bg-neutral-900;
  /* Custom background styling */
}

/* For those fancy animations */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  /* Fade-in animation */
}

.text-glow {
  animation: glow 3s ease-in-out infinite;
  /* Glowing text animation */
}

/* Text wrapping and word-breaking: keeping things in line */
.title {
  text-wrap: balance;
  /* Balanced text wrapping */
  word-break: break-word;
  /* Break long words */
}

/* Tables are more than just dining surfaces */
table {
  @apply block max-w-fit overflow-x-auto whitespace-nowrap;
  /* Responsive table styling */
}

/* Keyframes for those snazzy animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes glow {

  0%,
  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
  }

  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6);
  }
}