@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .light {
    --sh-class: #9B5A8C;
    --sh-identifier: #6F228C;
    --sh-sign: #454545;
    --sh-string: #9E4D0A;
    --sh-keyword: #004499;
    --sh-comment: #3C3C3C;
    --sh-jsxliterals: #323B7A;
    --sh-property: #66A2B3;
    --sh-entity: #5E9F3B;
  }

  .dark {
    --sh-class: #EEABFB;
    --sh-identifier: #BE69DE;
    --sh-sign: #EEEEEE;
    --sh-string: #F8810B;
    --sh-keyword: #0080FF;
    --sh-comment: #808080;
    --sh-jsxliterals: #6266d1;
    --sh-property: #B2D9FF;
    --sh-entity: #CDFF84;
  }

  html,
  body {
    @apply m-0 p-0;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }

  body {
    @apply flex flex-col bg-mono-50 dark:bg-mono-950 text-mono-950 dark:text-mono-50 ease;
    overflow-wrap: break-word;
    text-rendering: geometricPrecision;
  }

  ::selection {
    @apply bg-mono-950 dark:bg-mono-50 text-mono-50 dark:text-mono-950 ease;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-mono-950 dark:text-mono-50 tracking-tight ease;
  }

  h1 {
    @apply text-xl font-semibold;
  }

  h2 {
    @apply mt-10 mb-4 text-[1.25rem] font-medium;
  }

  h3 {
    @apply mt-10 mb-4 text-[1.15rem] font-medium;
  }

  h4 {
    @apply mt-10 mb-4 text-[1.05rem] font-medium;
  }

  p {
    @apply my-4 text-mono-800 dark:text-mono-200 ease;
  }

  p strong {
    @apply text-mono-950 dark:text-mono-50 ease;
  }

  a {
    @apply bg-mono-200 dark:bg-mono-800 text-mono-950 dark:text-mono-50 hover:underline decoration-mono-500 underline-offset-2 ease;
  }

  ul,
  ol {
    @apply ml-4 my-2;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply pl-2 text-mono-800 dark:text-mono-200 ease;
  }

  blockquote {
    @apply px-4 pl-5 mt-6 mb-10 border-l-2 border-dashed border-mono-200 dark:border-mono-800 ease;
  }

  blockquote p {
    @apply italic font-light text-[1.1rem] text-mono-700 dark:text-mono-300 leading-relaxed;
  }

  blockquote p strong {
    @apply font-light text-mono-950 dark:text-mono-50;
  }

  pre,
  code {
    @apply mt-6 mb-8 rounded-md border border-mono-200 dark:border-mono-800 bg-mono-100 dark:bg-mono-900 ease;
  }

  pre {
    @apply py-2.5 px-3.5 overflow-x-auto leading-tight;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre code {
    @apply p-0 border-none leading-snug;
  }

  code {
    @apply py-0.5 px-1 text-[0.9rem] ease;
  }

  code span {
    @apply ease;
  }

  hr {
    @apply my-12 border border-dashed border-mono-300 dark:border-mono-700 ease;
  }
}

@layer utilities {
  .ease {
    @apply transition duration-300 ease-in-out;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}