@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    user-select: none;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    text-rendering: geometricPrecision;

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    img {
      pointer-events: none;
    }

    mark {
      color: inherit;
      background-color: inherit;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }
}

@layer components {
  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-display tracking-tight text-amber-50;
    }

    a {
      @apply font-normal text-amber-100 no-underline;
    }

    blockquote {
      @apply border-l-2 border-amber-100/10;

      > p {
        @apply text-lg font-light leading-8 text-stone-400 before:content-none after:content-none;
      }
    }

    pre,
    code {
      @apply font-code before:content-none after:content-none;
    }

    :not(pre) > code {
      @apply relative rounded-md border border-amber-100/10 bg-stone-800/50 px-[4px] py-[1px] text-[0.875rem] font-medium;
    }

    pre {
      @apply relative overflow-auto p-0;
      @apply border border-amber-100/10 bg-stone-900/40;

      > code {
        @apply overflow-x-scroll py-2 text-[0.85rem];
        counter-reset: line;

        &[data-line-numbers] {
          > [data-line]::before {
            counter-increment: line;
            content: counter(line);
            @apply mr-4 inline-block w-4 text-right text-xs text-stone-500;
          }
        }

        > [data-line] {
          @apply border-l-2 border-l-transparent px-3;
        }

        > [data-highlighted-line] {
          @apply border-l-amber-200/15 bg-amber-200/5;
        }

        [data-highlighted-chars] {
          @apply rounded-md bg-amber-200/10 p-1;
        }
      }
    }

    [data-rehype-pretty-code-title] {
      @apply bg-stone-800/50 font-code text-xs text-amber-50/75;
      @apply rounded-md rounded-b-none border-x border-t border-amber-200/10;
      @apply max-w-full overflow-x-auto whitespace-nowrap px-3 py-2;

      + pre {
        @apply mt-0 rounded-t-none;
      }
    }

    [data-rehype-pretty-code-caption] {
      @apply text-center text-xs text-stone-500;
    }
  }
}

@layer utilities {
  .animate {
    @apply transition-all duration-500 ease-in-out;
  }
}
